langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-community
langchain-huggingface
faiss-cpu
pydantic
sentence-transformers
python-dotenv
pandas
google-generativeai

fastapi
uvicorn
psycopg2-binary
sqlalchemy
python-multipart
pymupdf
passlib
bcrypt==3.2.2
sqlalchemy-utils
